@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Main/css/animate.css">

    <link rel="stylesheet" href="~/Main/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Main/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Main/css/magnific-popup.css">


    <link rel="stylesheet" href="~/Main/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Main/css/jquery.timepicker.css">

    <link rel="stylesheet" href="~/Main/css/flaticon.css">
    <link rel="stylesheet" href="~/Main/css/style.css">
</head>
<body>
    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                    <p class="mb-0 phone pl-md-2">
                        <a href="#" class="mr-2"><span class="fa fa-phone mr-1"></span> +995 579 02 50 90</a>
                        <a href="#"><span class="fa fa-paper-plane mr-1"></span> youremail@email.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index"><span class="flaticon-pawprint-1 mr-2"></span>DogHouse</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> 
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link">მთავარი</a></li>
                    <li class="nav-item"><a asp-controller="Vet" asp-action="Vet" class="nav-link">ვეტერინარები</a></li>
                    <li class="nav-item"><a asp-controller="Pet" asp-action="GetPets" class="nav-link">ძაღლები</a></li>
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <li class="nav-item"><a asp-controller="Account" asp-action="UserProfile" class="nav-link">ჩემი კაბინეტი</a></li>
                    }
                    else
                    {
                        <li class="nav-item"><a asp-controller="Account" asp-action="LogIn" class="nav-link">შესვლა</a></li>
                    }
                    <li class="nav-item"><a asp-controller="Contact" asp-action="Contact" class="nav-link">კონტაქტი</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->
    <div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", required:false)
</body>
</html>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                <h2 class="footer-heading">DogHouse</h2>
                <p>ვებ სივრცე ჩვენი ძაღლებისთვის</p>
                <ul class="ftco-footer-social p-0">
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="fa fa-facebook"></span></a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3 pl-lg-5 mb-4 mb-md-0">
                <h2 class="footer-heading">სწრაფი გადასვლა</h2>
                <ul class="list-unstyled">
                    <li><a asp-controller="Home" asp-action="Index" class="py-2 d-block">მთავარი</a></li>
                    <li><a href="#">ძაღლის გასეირნება</a></li>
                    <li><a href="#">სალონები</a></li>
                    <li><a href="#">დამაკება</a></li>
                    <li><a asp-controller="Contact" asp-action="Contact" class="py-2 d-block">კონტაქტი</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                <h2 class="footer-heading">გაქვს შეკითხვა?</h2>
                <div class="block-23 mb-3">
                    <ul>

                        <li><a href="tel://+995579025090"><span class="icon fa fa-phone"></span><span class="text">+995 579 02 50 90</span></a></li>
                        <li><a href="mailto:info@yourdomain.com"><span class="icon fa fa-paper-plane"></span><span class="text">info@yourdomain.com</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center">

                <p class="copyright">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved
                </p>
            </div>
        </div>
    </div>
</footer>