@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <title> ვებ სირვცე ჩვენი ძაღლებისთვის</title>
    <link rel="icon" href="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/512x512/plain/dog.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/Main/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Main/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Main/css/magnific-popup.css">


    <link rel="stylesheet" href="~/Main/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Main/css/jquery.timepicker.css">

    <link rel="stylesheet" href="~/Main/css/flaticon.css">
    <link rel="stylesheet" href="~/Main/css/style.css">
</head>
<body>
    <div class="hero-wrap js-fullheight" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-11 ftco-animate text-center">
                    <h1 class="mb-4">ვებ სივრცე ჩვენი ძაღლებისთვის</h1>
                </div>
            </div>
        </div>
    </div>

    <section style="height:auto;width:auto;" class="ftco-section bg-light ftco-no-pt ftco-intro">
        <div class="container">
            <div class="row">
                <div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
                    <div class="d-block services text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <img style="width: 65px; height: 65px;" src="~/images/dog-walking.png" />
                        </div>
                        <div class="media-body">
                            <h3 class="heading">ძაღლის გასეირნება</h3>
                            <p>განცხადებების სანახავად დააწექი ღილაკს</p>
                            <a href="#"><h6 class="media-body">ყველა ვაკანსია</h6><i class="sr-only"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
                    <div class="d-block services text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <img style="width: 65px; height: 65px;" src="~/images/salon.png" />
                        </div>
                        <div class="media-body">
                            <h3 class="heading">სალონები</h3>
                            <p>განცხადებების სანახავად დააწექი ღილაკს</p>
                            <a href="#"><h6 class="media-body">ყველა სალონი</h6><i class="sr-only"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-self-stretch px-4 ftco-animate">
                    <div class="d-block services text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <img style="width:65px;height:65px;" src="/images/doglove.png" />
                        </div>
                        <div class="media-body">
                            <h3 class="heading">დამაკება</h3>
                            <p>განცხადებების სანახავად დააწექი ღილაკს</p>
                            <a href="#"><h6 class="media-body">ყველა განცხადება</h6><i class="sr-only"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/Main/js/jquery.min.js"></script>
    <script src="~/Main/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Main/js/popper.min.js"></script>
    <script src="~/Main/js/bootstrap.min.js"></script>
    <script src="~/Main/js/jquery.easing.1.3.js"></script>
    <script src="~/Main/js/jquery.waypoints.min.js"></script>
    <script src="~/Main/js/jquery.stellar.min.js"></script>
    <script src="~/Main/js/jquery.animateNumber.min.js"></script>
    <script src="~/Main/js/bootstrap-datepicker.js"></script>
    <script src="~/Main/js/jquery.timepicker.min.js"></script>
    <script src="~/Main/js/owl.carousel.min.js"></script>
    <script src="~/Main/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Main/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/Main/js/google-map.js"></script>
    <script src="~/Main/js/main.js"></script>



</body>
</html>